body {
    max-width: 550px;
    height: 100%;
    margin: 0 auto;
    padding: 16px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: darkslategray;
}

div {
    white-space: pre-line; /* Need this to break line in the template literal */
}

button {
    height: 36px;
    min-width: 64px;
    padding: 8px 16px;
    border-radius: 10px;
    border: 1px solid grey;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 18px;
}

#buttons {
    width: 100%;
    margin: 16px auto 0 auto;
    display: flex;
    justify-content: space-between;
}

#result {
    height: 150px;
    margin: 32px auto;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tan;
    border: 1px solid grey;
    border-radius: 10px;
}